<div class="container">
    <form class="mx-auto py-5 max-w-md">
        <label for="default-search" class="mb-2 font-medium text-sm text-text sr-only">Search</label>
        <div class="relative">
            <!--! search logo -->
            <div class="absolute inset-y-0 flex items-center pointer-events-none ps-3 start-0">
                <svg class="w-4 h-4 text-subtext0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
            </div>
            <!--! search box -->
            <input type="search" placeholder="Search for GIFs"
                class="block bg-mantle border-2 border-blue focus:border-sky p-4 rounded-full w-full text-sm text-text placeholder-surface0 ps-10"
                required 
                [(ngModel)]="txtQuery" (ngModelChange)="onFieldChange($event)" name="something"
                />
            <!-- <button type="submit"
                class="bottom-3.5 end-3.5 absolute bg-mauve hover:bg-lavender px-3 py-1 rounded-full text-base text-sm focus:ring-4 focus:outline-none focus:ring-blue font-medium"
                > 
                Search!
            </button> -->
        </div>
    </form>
</div>