<div class="">
    <form class="mx-auto py-10 max-w-md">
        <label for="default-search" class="mb-2 font-medium text-sm text-text sr-only">Search</label>
        <div class="relative">
            <!--! search logo -->
            <div class="absolute inset-y-0 flex items-center pointer-events-none ps-3 start-0">
                <svg class="w-4 h-4 text-subtext0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
            </div>
            <!--! search box -->
            <input type="default-search" placeholder="Search for GIFs"
                class="bg-mantle border border-blue 
                hover:border-sapphire hover:bg-crust focus:bg-crust
                block p-4 ps-10 rounded-full w-full 
                text-sm text-text placeholder-surface1"
                required 
                [(ngModel)]="txtQuery" (ngModelChange)="onFieldChange($event)" name="something"
                />
            
        </div>
    </form>
</div>