<app-modal modalID="auth">
    <p class="font-bold text-2xl" heading>Your Account</p>
    <!-- Tabs -->
    <ul class="flex flex-wrap mb-4">
        <li class="flex-auto text-center">
            <a class="block bg-indigo-400 px-4 py-3 rounded text-white hover:text-white transition" href="#">Login</a>
        </li>
        <li class="flex-auto text-center">
            <a class="block px-4 py-3 rounded hover:text-indigo-400 transition" href="#">Register</a>
        </li>
    </ul>

    <!-- Login Form -->
    <form>
        <!-- Email -->
        <div class="mb-3">
            <label class="inline-block mb-2">Email</label>
            <input type="email"
                class="block border-gray-400 focus:border-indigo-400 bg-transparent px-3 py-1.5 border rounded w-full text-gray-200 transition duration-500 focus:outline-none"
                placeholder="Enter Email" />
        </div>
        <!-- Password -->
        <div class="mb-3">
            <label class="inline-block mb-2">Password</label>
            <input type="password" class="block border-gray-400 focus:border-indigo-400 bg-transparent px-3 py-1.5 border rounded w-full text-gray-200 transition duration-500 focus:outline-none"
                placeholder="Password" />
        </div>
        <button type="submit" class="block bg-indigo-400 hover:bg-indigo-500 px-3 py-1.5 rounded w-full text-white transition">
            Submit
        </button>
    </form>

    <!-- Registration Form -->
    <form>
        <!-- Name -->
        <div class="mb-3">
            <label class="inline-block mb-2">Name</label>
            <input type="text"
                class="block border-gray-400 focus:border-indigo-400 bg-transparent px-3 py-1.5 border rounded w-full text-gray-200 transition duration-500 focus:outline-none"
                placeholder="Enter Name" />
        </div>
        <!-- Email -->
        <div class="mb-3">
            <label class="inline-block mb-2">Email</label>
            <input type="email"
                class="block border-gray-400 focus:border-indigo-400 bg-transparent px-3 py-1.5 border rounded w-full text-gray-200 transition duration-500 focus:outline-none"
                placeholder="Enter Email" />
        </div>
        <!-- Age -->
        <div class="mb-3">
            <label class="inline-block mb-2">Age</label>
            <input type="number"
                class="block border-gray-400 focus:border-indigo-400 bg-transparent px-3 py-1.5 border rounded w-full text-gray-200 transition duration-500 focus:outline-none" />
        </div>
        <!-- Password -->
        <div class="mb-3">
            <label class="inline-block mb-2">Password</label>
            <input type="password"
                class="block border-gray-400 focus:border-indigo-400 bg-transparent px-3 py-1.5 border rounded w-full text-gray-200 transition duration-500 focus:outline-none"
                placeholder="Password" />
        </div>
        <!-- Confirm Password -->
        <div class="mb-3">
            <label class="inline-block mb-2">Confirm Password</label>
            <input type="password"
                class="block border-gray-400 focus:border-indigo-400 bg-transparent px-3 py-1.5 border rounded w-full text-gray-200 transition duration-500 focus:outline-none"
                placeholder="Confirm Password" />
        </div>
        <!-- Phone Number -->
        <div class="mb-3">
            <label class="inline-block mb-2">Phone Number</label>
            <input type="text"
                class="block border-gray-400 focus:border-indigo-400 bg-transparent px-3 py-1.5 border rounded w-full text-gray-200 transition duration-500 focus:outline-none"
                placeholder="Enter Phone Number" />
        </div>
        <button type="submit" class="block bg-indigo-400 hover:bg-indigo-500 px-3 py-1.5 rounded w-full text-white transition">
            Submit
        </button>
    </form>
</app-modal>