<header class="bg-crust sticky top-0 flex items-center justify-between px-5 h-[68px] z-10">
    <!-- logo and navigation items-->
    <div class="flex gap-10">
        <a href="/">
            <img width="180" src="/assets/logo.png" alt="gipheus-logo" class="opacity-50 hover:opacity-100">
        </a>
        <ul class="flex items-center" *ngFor="let item of navList">
            <li class="text-text cursor-pointer font-light text-lg hover:text-sky transition-[1s]">
                <a href="">{{ item }}</a>
            </li>
        </ul>
    </div>

    <!--! Welcome User -->
    <div class="flex gap-4 text-text items-center">
        <div class="flex items-center gap-2">

            <span class="hover:text-blue">Welcome User!</span>
        </div>
        &nbsp;
        <!--! login button -->
        <!-- <a href="#" (click)="openModal($event)">Login </a> -->
        
    </div>
</header>