<header class="bg-crust sticky top-0 flex items-center justify-between px-5 h-[68px] z-10">
    <!-- logo and navigation items-->
    <div class="flex gap-10">
        <a href="/">
            <img width="180" src="/assets/logo.png" alt="gipheus-logo" class="opacity-75 hover:opacity-100">
        </a>
        <ul class="flex items-center" *ngFor="let item of navList">
            <li class="text-text font-light text-xl hover:text-sky opacity-75 hover:opacity-100 cursor-pointer transition-[1s]">
                
                <a *ngIf="item.toString()=='About'; else elseBlock" href="https://github.com/KDuongThB/gipheus" target="_blank">{{ item }}</a>
                <ng-template #elseBlock> <a href="">{{ item }}</a></ng-template>
            </li>
        </ul>
    </div>
</header>