.gifs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: auto auto;
}

.gif {
    flex: 1 0 22rem;
    margin: 0;
    animation: fadeUp 1s;
}

.gif img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    
.gif p {
    @apply font-light text-subtext0 text-sm
}

/* gif title */
.gif .title-box {
    @apply flex max-h-12 pr-3 py-1
}

.gif h2 {
    @apply text-lavender font-medium
}