.gifs {
    display: grid;
    grid-template-columns: auto auto auto auto;
    min-width: 1200px;
    max-width: 1900px;
    width: 90%;
    margin: 0 auto;
}
.gif iframe {
    width: 25%;
    max-width: 250px;
    
}

.gif-description {
    @apply font-light text-sm text-subtext0
}